extends ../admin/index

block menu
  li: a(style="cursor: pointer", v-on="click: navigate('/index')") 課題一覧
  li: a(style="cursor: pointer", v-on="click: navigate('/new')") 新規作成
  
block content
  .container
    .page-header
      h1 スタッフサイト
    
    div(v-route)
    hr
  
    script#index(type="text/template")
      include admin/_components/index
    script#new(type="text/template")
      include admin/_components/new
    script#show(type="text/template")
      include admin/_components/show

    script#lesson(type="text/template")
      include admin/_components/lesson
    script#question(type="text/template")
      include admin/_components/question
    script#questions(type="text/template")
      include admin/_components/questions
    script#file(type="text/template")
      include admin/_components/file
    script#files(type="text/template")
      include admin/_components/files

block script
  - echo Asset::js('staff/admin.js')
  
