extends _layouts/master

block content
  .container
    .page-header: h1 課題一覧

    - foreach([1, 2, 3, 4, 5] as $day):
    .page-header: h3!= $day."日目"
    table.table.table-striped
      thead
        tr
          th 課題名
          th 成績
          th 資料
      tbody
        tr
          td!= Html::anchor('admin/staff/lesson/0', '正しい話し方')
          td 完了済み
          td!= Html::anchor('api/staff/download/0', 'ダウンロード')
        tr
          td: a 正しい食べ方
          td 80%
          td 課題を完了してください
        tr
          td: a 正しい歩き方
          td ---
          td 課題を完了してください
    - endforeach
  
