extends ../_layouts/master

block config
  - $page = "スタッフサイト"

block style
  - echo Asset::css('staff/admin.css')

block menu
  //- li: a(style="cursor: pointer", v-on="click: navigate('/index')") お知らせ
  li: a(style="cursor: pointer", v-on="click: navigate('/list')") 課題一覧
  - if(Auth::get_groups()[0][1] !=1):
  li!= Html::anchor('admin/staff', '管理画面')
  - endif;

block script
  script(src="https://code.jquery.com/jquery-2.1.1.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
  - echo Asset::js('modules/staff/app.js')
