extends ../../_layouts/master

block config
  - $page = "スタッフサイト"
  
block menu
  li: a(style="cursor: pointer", v-on="click: navigate('/news')") お知らせ
  li: a(style="cursor: pointer", v-on="click: navigate('/list')") 課題一覧
    
    
block content
  .container
    div(v-route)
    hr
  
  script#news(type="text/template")
    include _components/news
  script#home(type="text/template")
    include _components/home
  script#lesson(type="text/template")
    include _components/lesson
  script#answer(type="text/template")
    include _components/answer
  
  script#answerRadio(type="text/template")
    include _components/answer/radio
  script#answerCheckbox(type="text/template")
    include _components/answer/checkbox
  
    
block script
  - echo Asset::js('staff/app.js')
  
