extends ../_layouts/master

block config
  - $page = "スタッフサイト"
  
block style
  - echo Asset::css('staff/admin.css') 

block menu
  li: a(style="cursor: pointer", v-on="click: navigate('/index')") お知らせ
  li: a(style="cursor: pointer", v-on="click: navigate('/list')") 課題一覧
    
    
block content
  .container
    div(v-route)
    hr
  
  script#news(type="text/template")
    include _components/news
  script#home(type="text/template")
    include _components/home
  script#lesson(type="text/template")
    include _components/lesson
  script#video(type="text/template")
    include _components/video
  script#answer(type="text/template")
    include _components/answer
  
  script#answerRadio(type="text/template")
    include _components/answer/radio
    
block script
  - echo Asset::js('staff/app.js')
  
