extends ../../_layouts/master

block config
  - $page = "ポータルサイト"
  
block style
  - echo Asset::css('admin/style.css')    
  
block menu
  li: a(href="admin/staff") スタッフサイト
  
block content
  .container
    .page-header
      h1 ポータルサイト
