extends ../../_layouts/master

block config
  - $page = "管理画面"
  
block style
  - echo Asset::css('admin/style.css')    
  
block menu
  li!= Html::anchor('admin/staff', 'スタッフサイト')
  
block content
  .container
    .page-header
      h1 管理画面
