<div class="page-header">
  <h1>新規課題</h1>
</div>
<h3 class="page-header">課題設定</h3>
<form v-on="submit: submit($event)">
<div class="panel panel-default">
  <div class="panel-body">
    <div class="form-group">
      <label>YouTubeのVideo ID</label>
      <input type="text" required v-model="video_id" class="form-control">
    </div>
    <div class="form-group">
      <label>タイトル</label>
      <input type="text" required v-model="title" class="form-control">
    </div>
    <div class="form-group">
      <label>説明</label>
      <textarea id="mark" rows="15" v-model="body" aria-describedby="helpBlock" class="form-control">
      </textarea>
      <span id="help-block" class="help-block">Markdownで記述できます。</span>
    </div>
  </div>
  <div class="panel-footer">
    <button type="submit" class="btn btn-primary">保存</button>
  </div>
</div>

</form>
