meta(charset="UTF-8")
block style
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
meta(name="_base" content!="<?= Uri::base()?>")
block title
  title!= $page
