.panel.panel-default
  .panel-heading(v-if="deletable")
    h3.panel-title.
      ファイル{{$parent.$index+1}}. 
      （作成日時:{{created_at | timestamp}}、変更日時：{{updated_at | timestamp}}）
  .panel-body
    form(v-on="submit: submit($event)")
      .form-group
        label ファイル名
        input.form-control(type="text", required, v-model="filename")
      .form-group
        label ファイルの場所
        select.form-control(v-model="filepath")
          option(value="") 選択してください
          - foreach(\File::read_dir(DOCROOT.'files/modules/staff', 1) as $file):
          option(value!="<?=$file?>")!= $file
          - endforeach;
      button.btn.btn-primary(type="submit") 保存
      button.btn.btn-danger(type="button", 
      v-show="deletable", v-on="click: delete") 削除
