h3.page-header 課題設定
.panel.panel-default
  .panel-body
    form(v-on="submit: submit($event)")
      .form-group
        label YouTubeのVideo ID
        input.form-control(type="text", required, v-model="video_id")
      .form-group
        label タイトル
        input.form-control(type="text", required, v-model="title")
      .form-group
        label 説明
        textarea.form-control#mark(rows="15", v-model="body",
        aria-describedby="helpBlock")
        span.help-block#help-block Markdownで記述できます。
      button.btn.btn-primary(type="submit") 保存
