.panel.panel-default
  .panel-heading(v-if="deletable")
    h3.panel-title.
      問{{$parent.$index+1}}. 
      （作成日時:{{created_at | timestamp}}、変更日時：{{updated_at | timestamp}}）
  .panel-body
    
    form(v-on="submit: submit($event)")
      .form-group(v-show="false")
        label 種類
        select.form-control(v-model="type")
          option(value="radio", selected) 選択問題
      .form-group
        label 問題文
        input.form-control(type="text", required, v-model="sentence")
      .form-group
        label 選択肢と答え
        .input-group(v-repeat="choices")
          span.input-group-addon
            input(type="radio", name="answer", value="{{$index}}", v-model="answer")
          input.form-control(type="text", required,
          v-model="$value", v-on="keyup: edit($index, $value)")
          span.input-group-btn
            button.btn.btn-danger(type="button", v-on="click: splice($index)")
              span 削除
        button.btn.btn-default(type="button", v-on="click: add") 追加
      button.btn.btn-primary(type="submit") 保存
      button.btn.btn-danger(type="button", 
      v-show="deletable", v-on="click: delete") 削除
