.page-header: h1 課題{{$root.lesson.id}}

ul.nav.nav-tabs.nav-justified
  li(v-class="active: tab_id==='lesson'")
    a(style="cursor: pointer", v-on="click: tab('lesson')") 課題
  li(v-class="active: tab_id==='questions'")
    a(style="cursor: pointer", v-on="click: tab('questions')") 設問
  li(v-class="active: tab_id==='files'")
    a(style="cursor: pointer", v-on="click: tab('files')") ファイル

.tab-content
  div.tab-pane(role="tabpanel", 
  v-class="active: tab_id==='lesson'")
    div(v-component="lesson" v-with="$root.lesson")
  
  div.tab-pane(role="tabpanel", 
  v-class="active: tab_id==='questions'")
    div(v-component="questions" v-with="questions: $root.lesson.questions")
  
  div.tab-pane(role="tabpanel", 
  v-class="active: tab_id==='files'")
    div(v-component="files", v-with="files: $root.lesson.files")
