extends ../_layouts/master

block content
  .container
    h1.page-header ログイン
    
    form(method="POST")
      - echo Form::csrf();
      .form-group
        label(for="username") ユーザー名
        input.form-control(type="text", name="username")
      .form-group
        label(for="password") パスワード
        input.form-control(type="password", name="password")
      button.btn.btn-default(type="submit") ログイン
