.page-header: h1 課題一覧

table.table.table-striped
  thead
    tr
      th 課題名
      th 資料
  tbody
    tr(v-repeat="$root.lessons")
      td
        a(style="cursor: pointer", 
        v-on="click: $root.navigate('/lesson/'+id)") {{title}}
        span &nbsp;
        span.label.label-success 完了
      td: .dropdown
        a.dropdown-toggle(
        type="button", data-toggle="dropdown", aria-expand="false", 
        style="cursor: pointer") ダウンロード <span class="caret"></span>
        ul.dropdown-menu(role="menu")
          li(v-repeat="files"
          )!= Html::anchor('staff/download/{{id}}', '{{filename}}')
  
