.page-header: h1 課題一覧

table.table.table-striped.table-bordered
  thead
    tr
      th
      th 課題名
      th 資料
  tbody
    tr(v-repeat="$root.lessons")
      td
        span.label.label-success(v-if="id | hasCleared") 完了
        span.label.label-warning(v-show="id | hasNotCleared") 未完了
      td
        a(style="cursor: pointer", 
        v-on="click: $root.navigate('/lesson/'+id)") {{title}}
      td: .dropdown(v-show="id | hasCleared")
        a.dropdown-toggle(
        type="button", data-toggle="dropdown", aria-expand="false", 
        style="cursor: pointer") ダウンロード <span class="caret"></span>
        ul.dropdown-menu.dropdown-menu-right(role="menu")
          li(v-repeat="files"
          )!= Html::anchor('staff/download/{{id}}', '{{filename}}')
  
