.page-header: h1 課題一覧

table.table.table-striped
  thead
    tr
      th 課題名
      th 成績
      th 資料
  tbody
    tr(v-repeat="$root.lessons")
      td: a(style="cursor: pointer", 
      v-on="click: $root.navigate('/lesson/'+id+'/video')") {{title}}
      td 完了済み
      td!= Html::anchor('api/staff/download/0', 'ダウンロード')
  
