.page-header: h1 {{$root.current.lesson.title}}
div(v-youtube="{{$root.current.lesson.video_id}}")
h2: a(style="cursor: pointer", 
v-on="click: $root.navigate('/lesson/'+$root.current.lesson.id+'/answer')") 問題へ移動
